# Documenting what I can get running locally as part of the Django 3 update, not using this directly
asgiref==3.4.1
attrs==22.2.0
boto3==1.23.10
botocore==1.26.10
cached-property==1.5.2
cchardet==2.1.7
certifi==2023.7.22
chardet==5.0.0
charset-normalizer==2.0.12
click==8.0.4
click-default-group==1.2.4
datapackage==1.15.2
dj-database-url==2.1.0
Django==3.2.21
djangorestframework==3.14.0
docutils==0.18.1
et-xmlfile==1.1.0
goodtables==2.5.4
greenlet==3.0.3
idna==3.4
ijson==3.2.3
importlib-metadata==4.8.3
isodate==0.6.1
jmespath==0.10.0
json-logic-qubit==0.9.1
jsonlines==3.1.0
jsonpointer==2.3
jsonschema==4.0.0
linear-tsv==1.1.0
openpyxl==3.1.2
psycopg2-binary==2.9.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.27.1
rfc3986==1.5.0
s3transfer==0.5.2
simpleeval==0.9.13
six==1.16.0
SQLAlchemy==1.4.49
sqlparse==0.4.4
tableschema==1.20.2
tabulator==1.53.5
typing-extensions==4.1.1
unicodecsv==0.14.1
urllib3==2.6.3
xlrd==2.0.1
zipp==3.6.0